.name{
    margin-top: 3.125rem;
    margin-right: 0.9375rem;
    font-size: 2rem;
    direction: rtl;
    font-weight: 700;
}
.LRIcon{
    margin-right: 0.9375rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nameMobile{
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
}
.amazing{
    align-items: center;
}

@media (max-width: 768px) {
    .name {
        font-size: 1.5rem;
        margin-top: 2rem;
        text-align: center;
        margin-right: 0;
    }

    .LRIcon {
        margin-right: 0;
        justify-content: center;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .name {
        font-size: 1.75rem;
    }
}