@keyframes slideInLeft {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .name {
    opacity: 0;
    transform: translateX(-100%);
    margin-top: 50px;
    margin-right: 15px;
    font-size: 2rem;
    direction: rtl;
    font-weight: 700;
    transition: all 0.5s ease-out;
  }
  
  .visible {
    animation: slideInLeft 0.5s ease-out forwards;
    animation-delay: 0.5s; 
  }
  
  
  .LRIcon {
    margin-right: 15px;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .nameMobile {
    font: bold;
    text-align: center;
    font-size: 2rem;
    width: 100%;
  }
  
  .item{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease-out;
    display: flex;
    gap: 1rem; /* معادل space-x-4 */
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 0.5rem; /* معادل p-2 */
    width: 100%;
  }
  .item::-webkit-scrollbar {
    display: none;
  }
  
  .item {
    -ms-overflow-style: none; /* IE و Edge */
    scrollbar-width: none;    /* Firefox */
  }